.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miama";
  src: url("/font/Miama.ttf") format("truetype");
  font-weight: normal; 
  font-style: normal;
}

body{
  margin: 0;
}
/* shared styles */
.text-color-1{
  color: rgba(230, 83, 60, 1);
}
.text-color-2{
  color: rgba(255, 255, 255, 1);
}
.background-color-1{
  background-color: rgba(230, 83, 60, 1);
}
.background-color-2{
  background: linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 0%);
}

/* header - nav  */
.header-nav{
  max-width: 1060px;
  margin: 0 auto;

}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}
.nav-title{
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}
.nav-list{
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.4375rem;
  padding: 0 0.25rem;

}
.nav-item{
  display: block;
}
.nav-link{
  text-decoration: none;
  

}
.home-button{
  border-radius: 2.875rem;
  padding: 0.5rem 1.25rem;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-content-describe{
  max-width: 37.4375rem;
  margin-bottom: 4.75rem;
  
}
.header-title{
  font-size: 4.875rem;
  line-height: 5.85rem;
  font-weight: 900;
}
.header-title span{
  font-weight: 400;
  font-style: italic;
  font-family: "miama";
}
.header-text{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.header-btn-1{
  border-radius: 2.625rem;
  padding: 1rem 2.875rem;
  border: 0;
  font-size: 1.125rem;
  font-weight: 600;
}
.header-btn-2{
  border-radius: 2.625rem;
  padding: 1rem 2.875rem;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 1.125rem;
  font-weight: 600;
  background: linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 100%);
  margin-left: 0.875rem;
}