.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
body{
  margin: 0;
}
/* shared styles */
.text-color-1{
  color: rgba(230, 83, 60, 1);
}
.text-color-2{
  color: rgba(255, 255, 255, 1);
}
.background-color-1{
  background-color: rgba(230, 83, 60, 1);
}
.background-color-2{
  background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
}

/* header - nav  */
.header-nav{
  max-width: 1060px;
  margin: 0 auto;

}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}
.nav-title{
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}
.nav-list{
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.4375rem;
  padding: 0 0.25rem;

}
.nav-item{
  display: block;
}
.nav-link{
  text-decoration: none;
  

}
.home-button{
  border-radius: 2.875rem;
  padding: 0.5rem 1.25rem;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}