.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miama";
  src: url("/font/Miama.ttf") format("truetype");
  font-weight: normal; 
  font-style: normal;
}

body{
  margin: 0;
}
/* shared styles */
.text-color-1{
  color: rgba(230, 83, 60, 1);
}
.text-color-2{
  color: rgba(255, 255, 255, 1);
}
.text-color-3{
  color: rgba(255, 255, 255, 0.65);

}
.background-color-1{
  background-color: rgba(230, 83, 60, 1);
}
.background-color-2{
  background: linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 0%);
}

.hide-show{
  display: none;
}
/* header - nav  */
.header-nav{
  max-width: 1060px;
  margin: 0 auto;

}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}
 /* .nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0.25rem 0;
} */
.nav-title{
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}
.nav-list{
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.4375rem;
  padding: 1rem 1rem;

}
.nav-item{
  display: block;
}
.nav-link{
  text-decoration: none;
  

}
.home-button{
  border-radius: 2.875rem;
  padding: 0.5rem 1.25rem;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-content-describe{
  max-width: 37.4375rem;
  margin-bottom: 4.75rem;
  
}
.header-title{
  font-size: 4.875rem;
  line-height: 5.85rem;
  font-weight: 900;
}
.header-title span{
  font-weight: 400;
  font-style: italic;
  font-family: "Miama";
}
.header-text{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.header-btn-1{
  border-radius: 2.625rem;
  padding: 1rem 2.875rem;
  border: 0;
  font-size: 1.125rem;
  font-weight: 600;
}
.header-btn-2{
  border-radius: 2.625rem;
  padding: 1rem 2.875rem;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 1.125rem;
  font-weight: 600;
  background: linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 100%);
  margin-left: 0.875rem;
}
.header-card{
  gap: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
}
.card-1{
  /* display: none; */
  max-width: 12rem;
  max-height: 6rem;
  position: relative;
  top: -28rem;
  right: -250px; 
}
.card-1 h1{
  font-size: 1.5rem;
  font-weight: 900;
}

.card-2{
  display: flex;
  align-items: center;
  max-width: 12rem;
  max-height: 6rem;
  position: relative;
  top: -14rem;
  left: -150px; 
  
}
.card-2 h2{
  font-size: 1.5rem;
  font-weight: 900;
}




.for-shape{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}


/* media query for mobile */

@media screen and (max-width: 576px){
  .hide-show{
    display: block;
  }
  .hide-show-2{
    display: none;
  }
  .header-nav{
    padding: 0 1rem;
  }
  .nav-list{
    display: none;
  }
  .header-content{
    flex-direction: column;
    /* gap: 1rem; */
  }
 .header-content-describe{
    max-width: 22rem;    
  }
  .header-title{
    font-size: 2.25rem;
    list-style: 2.7rem;
  }
  .btn-group{
    display: flex;
    /* gap: 0.1rem; */
    justify-content: space-around;
  }
  .header-btn-1{
    border-radius: 2.625rem;
    padding: 1rem 1.25rem;
    border: 0;
    font-size: 1rem;
    
  }
  .header-btn-2{
    border-radius: 2.625rem; 
    padding: 1rem 1.25rem;
    border: 1;
    font-size: 1rem;
    
  }

  .card-1{
    /* display: none; */
    max-width: 9rem;
    max-height: 4.5rem;
    position: relative;
    top: -39rem;
    right: -180px; 
  }
  .card-1 h1{
    font-size: 1rem;
    font-weight: 900;
  }
  
  .card-2{
    display: flex;
    align-items: center;
    max-width: 10rem;
    max-height: 4.5rem;
    position: relative;
    top: -28rem;
    left: -15px; 
    
  }
  .card-2 h2{
    font-size: 1.5rem;
    font-weight: 900;
  }
}